.button {
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: var(--primary-color);
}

.clear {
    border: 0;
    background: none;
    outline: none;
    margin: 0;
}

.outline {
    border: 1px solid var(--primary-color);
}
