.button {
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    padding: 0;
    border: 0;
    background: none;
    outline: none;
    margin: 0;
}
