.app.dark {
  --bg-color: #1c3a4f;
  --inverted-bg-color: #15191e;

  --primary-color: #fff900;
  --secondary-color: gray;

  --inverted-primary-color: #9ca8ff;
  --inverted-secondary-color: #2c2c2c;
}