.app.dark {
    --bg-color: #1c3a4f;
    --average-bg-color: #15191e;
    --inverted-bg-color: #f8fbff;
    --primary-color: #fceece;
    --secondary-color: gray;
    --inverted-primary-color: #9ca8ff;
    --inverted-secondary-color: #2c2c2c;
}
