.app.light {
    --bg-color: #d5e0f8;
    --average-bg-color: #6b6b6b;
    --inverted-bg-color: #313131;
    --primary-color: #000;
    --secondary-color: #375ae5;
    --inverted-primary-color: #e6ff70;
    --inverted-secondary-color: #ffb945;
}
