.app.light {
    --bg-color: #d5e0f8;
    --inverted-bg-color: #646464;
    --primary-color: #075ba1;
    --secondary-color: #375ae5;
    --inverted-primary-color: #e6ff70;
    --inverted-secondary-color: #ffb945;
}
